<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronOcr" version="2022.8.8198" targetFramework="net472" />
  <package id="IronOcr.Languages.Japanese" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Portuguese" version="2020.11.2" targetFramework="net472" />
  <package id="IronOcr.Languages.Russian" version="2020.11.2" targetFramework="net472" />
</packages>